<!DOCTYPE html>
<html>
  <head>
    <title>
      Clubs & Socs -
      {% block title_block %}
      {% endblock %}
    </title>
  </head>
  <body>
    <div>
      {% block body_block %}
      {% endblock %}
    </div>
    <h1>Test for base template</h1>
    <div>
      <ul>
        <li><a href="{% url 'rango:index' %}">Homepage</a></li>
        <li><a href="{% url 'rango:societies' %}">Societies</a></li>
        <li><a href="{% url 'rango:discover' %}">Discover</a></li>
        <li><a href="{% url 'rango:result' %}">Result <strong>This will be accesible through search only here for proof it exists</strong></a></li>
        <li><a href="{% url 'rango:wellbeing' %}">Wellbeing</a></li>
        <li><a href="{% url 'rango:howto' %}">How To</a></li>
      </ul>
    </div>
  </body>
</html>
