{% extends 'Clubs&Socs/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Discover
{% endblock %}

{% block extra_head %}




{% endblock %}


{% block body_block %}
  <div class="headingbar">
    <h1>Discover Page</h1>
    <h3>Upcoming Society Events!</h3>
  </div>
  <div class="row">
    {% if events %}
      {% for event in events %}
      <div class="threecolumn">
        <a href="{% url  'Clubs&Socs:show_event' society_name_slug=event.society.slug event_name_slug=event.slug %}"  style="text-decoration:none">
          <img src="{{event.society.logo.url}}"  alt="Society Logo" class = "societylogo">
          <h3 style="color:#000" >{{event.eventName}}</h3>
          <h4 style="color:#000" >{{event.description}}</h2>
        </a>
      </div>
      {% endfor %}
    {% else %}
      <strong>There are no events present.</strong>
    {% endif %}
  </div>
{% endblock %}>

