{% extends 'Clubs&Socs/base.html' %}
{% load static %}

{% block title_block %}
  Event
{% endblock %}

{% block extra_head %}
  .headingbar {
    background-color:#70ad47;
    color:#ffffff;
    padding:20px;
    margin-bottom:50px;
    text-align:center;
  }

 .container{
  float: left;
  width: 300px;
  margin: auto;
}

  .column{
    width: 25%

  }
  



{% endblock %}


{% block body_block %}
  <body>
    <div class="headingbar">
      <h1>{{event.eventName}}</h1>
      <h3>Join this {{society.societyName}} club event!</h3>
    </div>
    <div class="container"> 
      <img src="{{society.logo.url}}"  alt="Society Logo">
      <h4 style="color:#000">{{event.description}}</h3>
    </div>
    <div>

    </div>
    <div>
    {% if user_profile in event.attendee.all %}
      <button class="btn btn-primary" id="event_btn" data-event="{{event.eventName}}" disabled>
        Joined
      </button>
    {% else %}
      <button class="btn btn-primary" id="event_btn" data-event="{{event.eventName}}">
        Join
      </button>
    {% endif %}
    </div>
  </body>
{% endblock %}>
