{% extends 'Clubs&Socs/base.html' %}
{% load static %}

{% block title_block %}
  Event
{% endblock %}

{% block extra_head %}
{% endblock %}


{% block body_block %}
    <div class="headingbar">
      <h1>{{event.eventName}}</h1>
      <h3>Join this {{society.societyName}} club event!</h3>
    </div>

    <div class="row">
      <div class="twocolumn">
        <img src="{{society.logo.url}}"  alt="Society Logo">
        <h3 style="color:#000">{{event.eventName}}</h3>
      </div> 
 
    <div class = "twocolumn">
      <div>
        <h3 style="padding:25px" >Date: {{event.date}}</h4>
        <h4>{{event.description}}</h4>
      </div>
      {% if user_profile in event.attendee.all %}
        <button class = "button disabled" id="event_btn" data-event="{{event.eventName}}" disabled>
          Attending
        </button>
      {% else %}
        <button class = "button" id="event_btn" data-event="{{event.eventName}}">
          Attend
        </button>
      {% endif %}
    </div>
  </div>
{% endblock %}>
