{% extends 'Clubs&Socs/base.html' %}


{% block title_block %}
  My Account
{% endblock %}

{% block extra_head %}
  
  .headingbar {
    background-color:#70ad47;
    color:#ffffff;
    padding:20px;
    margin-bottom:50px;
    text-align:center;
  }

  h4{
      color: black;
      text-align: center;
      font-size: 3em;
  h2{
      color: black;
      text-align: center;
      font-size: 2em;

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    border-radius:50%;
  }

  .label{
    color: white;
    padding: 20px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  p{
    text-align: center;
    color: black;
    padding: 20px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size:30px;
    font-weight:bold;
  }


  b{
    font-size:30px;
  }

  d{
    font-size:30px;
  }

  .info{
    text=align:center;
    background-color:#ccdfeb;
    padding:10px;
  }

  
{% endblock %}




{% block body_block %}
  <div class="headingbar">
  <h1>My account</h1>
  <h3>your account's information</h3>
</div>

<div class="imgcontainer">
  <img src="{{user.picture}}" >
</div>

{%if user.is_society%}
  <h4>Your Club/Society details:</h4><br>>
   <div class="info">
      <li><p>Your society's name</p></li>
      <h3 style="color:#000">{{user.societyName}}</h3>
      <li><p>Number of members in your society</p></li>
      <h3 style="color:#000" >{{user.memberNum}}</h3>
      <li><p>Your society's description</p></li>
      <h3 style="color:#000" >{{user.description}}</h3>
    </div>
{%else%}
  <h4>Your account details:</h4><br>
   <div class="info">
      <h2>Your username</h2>
      <h3 style="color:#000" >{{user.username}}</h3>
      <li><p>Your first name</p></li>
      <h3 style="color:#000" >{{user.firstname}}</h3>
      <li><p>Your last name</p></li>
      <h3 style="color:#000" >{{user.lastname}}</h3>
{%endif%}
    </div>

{% endblock %}