{% extends 'Clubs&Socs/base.html' %}

{% load staticfiles %}

{% block title_block %}
  Sign up 
{% endblock %}

{% block extra_head %}
  body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}


input[type=text], input[type=password] {
  width: 100%;
  padding: 30px 40px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid orange;
  box-sizing: border-box;
}

button {
  background-color: orange;
  color: white;
  padding: 20px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


p{
  color: black;
  padding: 20px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size:30px;
  font-weight:bold
}

span.psw {
  float: right;
  padding-top: 16px;
}

b{
  font-size:30px;
}

d{
  font-size:30px;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
{% endblock %}


{% block body_block %}

<div class="headingbar">
  <h1>Sign up</h1>
  <h3>Please Sign up</h3>
</div>

<div class="imgcontainer">
  <img src="/static/images/genericprofile.png" alt="Avatar" class="avatar">
</div>

<div class="content">
<div class="container">


  {% if registered %}
  <strong>thank you for registering!</strong>
  <a href="{% url 'Clubs&Socs:index' %}">Return to the homepage.</a><br />
  {% else %}
  <form id="user_form" method="post" action="{% url 'Clubs&Socs:register' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
	{{ society_form.as_p }}

  <button type="submit" style="font-size:30px">Register</button>
</form>
{% endif %}
  <h3 required style="font-size:30px">Wanting to sign up as a member? <a href="{% url 'Clubs&Socs:signup' %}"required style="font-size:30px">Sign up Here!</a></h3>
{% endblock %}
