{% extends 'Clubs&Socs/base.html' %}

{% load staticfiles %}

{% block title_block %}
  Register
{% endblock %}

{% block extra_head %}
  .headingbar {
    background-color:#70ad47;
    color:#ffffff;
    padding:20px;
    margin-bottom:50px;
    text-align:center;
  }

  .homelinks{
    display:inline;
    margin:150px;
    text-align:center;
  }

  .homeimages{
    width:600px;
  }
{% endblock %}

{% block body_block %}
  <h1>Register Page</h1>
  {% if registered %}
  <strong>thank you for registering!</strong>
  <a href="{% url 'Clubs&Socs:index' %}">Return to the homepage.</a><br />
  {% else %}
  <form id="user_form" method="post" action="{% url 'Clubs&Socs:register' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
	{{ society_form.as_p }}

    <input type="submit" name="submit" value="Register" />
</form>
{% endif %}
  <h3>Wanting to sign up as a Member? <a href="{% url 'Clubs&Socs:signup' %}">Sign up here!</a></h3>
{% endblock %}
