{% extends 'Clubs&Socs/base.html' %}


{% block title_block %}
  Sign Up
{% endblock %}

{% block extra_head %}
  .headingbar {
    background-color:#70ad47;
    color:#ffffff;
    padding:5px;
    margin-bottom:50px;
    text-align:center;
  }

  .homelinks{
    display:inline;
    margin:75px;
    text-align:center;
  }

  .homeimages{
    width:600px;
  }
{% endblock %}

{% block body_block %}
  <h1>Sign Up Page</h1>
  <form id="user_form" method="post" action="{% url 'Clubs&Socs:signup' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}

    <input type="submit" name="submit" value="Sign-up" />
</form>
  <h3>Wanting to register as a Society? <a href="{% url 'Clubs&Socs:register' %}">Register Here!</a></h3>
{% endblock %}
