{% extends 'Clubs&Socs/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Societies
{% endblock %}

{% block extra_head %}
  .headingbar {
    background-color:#70ad47;
    color:#ffffff;
    padding:20px;
    margin-bottom:50px;
    text-align:center;
  }


.column {
  width: 31.5%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.societylogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
<style>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  .dropbtn {
    background-color: green;
    color: green;
    padding: 16px;
    font-size: 40px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  }
</style>



{% endblock %}


{% block body_block %}
  <div class="headingbar">
    <h1>Societies</h1>
    <h3>Here are our list of societies!</h3>
  </div>
  <form method="post" action="{% url 'Clubs&Socs:societies' %}">
  <div class="dropdown" style="float:right;">
  <button class="dropbtn">Filter by:</button>
  <div class="dropdown-content">
    <a href="{% url 'Clubs&Socs:societies' %}"> Alphabetical</a>
    <a href="{% url 'Clubs&Socs:societiesP' %}">Most members</a>
    <a href="{% url 'Clubs&Socs:societiesV' %}">Most viewed</a>
  </div>
  </div>
  </form>
    {% if societies %}
      {% for society in societies %}
        <div class="row">
        <div class="column">
        
          <a href="{% url 'Clubs&Socs:show_society' society_name_slug=society.slug %}"  style="text-decoration:none">
            <img src="{{society.logo.url}}"  alt="Society Logo" class = "societylogo">
            <h3 style="color:#000" >{{society.societyName}}</h3>
            <h4 style="color:#000" >{{society.description}}</h2>
          </a>
        
        </div>
        </div>

      {% endfor %}
    {% else %}
      <strong>There are no societies present.</strong>
    {% endif %}
  </div>
{% endblock %}