{% extends 'Clubs&Socs/base.html' %}
{% load static %}

{% block title_block %}
  Society
{% endblock %}

{% block extra_head %}
  .headingbar {
    background-color:#70ad47;
    color:#ffffff;
    padding:20px;
    margin-bottom:50px;
    text-align:center;
  }

  .column {
    float: left;
    width: 48%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .button {
    background-color: #FF7F50;
    border: none;
    color: white;
    padding: 15px 32px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }

  .disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .societylogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  



{% endblock %}


{% block body_block %}
    <div class="headingbar">
      <h1>{{society.societyName}}</h1>
      <h3>Sign up for {{society.societyName}}!</h3>
    </div>
    <div class="row">
      <div class="column">
        <img src="{{society.logo.url}}"  alt="Society Logo">
        <h4 style="color:#000">{{society.description}}</h3>
      </div>

      <div class="column">
        {% if user_profile in society.member.all %}
        <button class="button disabled" id="join_btn" data-society="{{society.societyName}}" disabled>
          Joined
        </button>
        {% else %}
        <button class="button" id="join_btn" data-society="{{society.societyName}}">
          Join
        </button>
        {% endif %}
      </div>
    </div>
{% endblock %}>
