{% extends 'Clubs&Socs/base.html' %}

{% load staticfiles %}

{% block title_block %}
  Wellbeing
{% endblock %}

{% block extra_head %}
  .headingbar {
    background-color:#70ad47;
    color:#ffffff;
    padding:20px;
    margin-bottom:50px;
    text-align:center;
  }

  .homelinks{
    display:inline;
    margin:150px;
    text-align:center;
  }

  .homeimages{
    width:600px;
  }
{% endblock %}

{% block body_block %}
  <div class="headingbar">
    <h1>Weelbeing</h1>
    <p>If you require any assistance while at University, the pages linked below provide guidance on how to get the support you need.</p>
  </div>
  <div style="float:left;">
    <div class="homelinks">
      <a href="https://www.nhsinform.scot/"  style="text-decoration:none">
        <img class="homeimages" src="{% static 'images/healthcare.jpg' %}" alt="Find a Club">
        <h3 style="color:#000">Healthcare</h3>
      </a>
    </div>
    <div class="homelinks">
      <a href="https://www.gla.ac.uk/myglasgow/securityandoperationalsupport/"  style="text-decoration:none">
        <img class="homeimages" src="{% static 'images/safety.jpg' %}" alt="What's On">
        <h3 style="color:#000">Safety & Security</h3>
      </a>
    </div>
  </div>

  <div style="float:right;">
    <div class="homelinks">
      <a href="https://archway.sandyford.org/" style="text-decoration:none">
        <img class="homeimages" src="{% static 'images/sexualsupport.png' %}" alt="Start a Club">
        <h3 style="color:#000">Sexual Violence Support & Resources</h3>
      </a>
    </div>
    <div class="homelinks">
      <a href="https://www.gla.ac.uk/media/Media_741856_smxx.pdf"  style="text-decoration:none">
        <img class="homeimages" src="{% static 'images/socialnetwork.jpg' %}" alt="Advice & Support">
        <h3 style="color:#000">Social Networking Guidelines</h3>
      </a>
    </div>
  </div>
{% endblock %}
